.hidden {
  display: none;
}

#main-btn {
  position: fixed;
  top: 25vh;
  right: 1px;
  width: 72px;
  height: 56px;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
  background-color: cadetblue;
}

#content-div {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1px;
  right: 1px;
  width: 320px;
  height: 640px;
  background-color: white;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif !important;
  overflow-y: auto;
  color: black !important;
}

#nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #d5d5d5;
  position: sticky;
}

#icon-div {
  padding: 8px 6px;
}

#function-icon-div {
  display: flex;
  /* gap: 4px; */
}

#main-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#main-body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

#main-body {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px 8px 0 8px;
  padding: 8px;
  font-weight: bold;
  border: 1px solid #d5d5d5;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.content {
  margin: 0 8px;
  padding: 8px;
  border: 1px solid #d5d5d5;
  border-top: none;
  min-height: 120px;
  border-radius: 0 0 4px 4px;
}

.rounded-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f5f5f5;
}

#authenticity-content {
  margin-bottom: 8px;
}

.analysis {
  padding: 8px;
}

.article-analysis {
  margin: 8px;
}

.media-analysis {
  margin: 8px;
}

hr {
  margin: 8px 8px;
}

#gemini {
  text-align: center;
  margin: 8px;
}
